<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="{{ ASSETS_ROOT }}/css/costom.css">


    {% block addon_css %}{% endblock addon_css %}
    

</head>

<body>
    <!-- partial:index.partial.html -->
    <div class="app-container">
        {% include "includes/navigation.html" %}



        <!--App content start here-->
        <div class="app-content">
            
            {% include "includes/sidebar.html" %}

        <!--App content section start here-->
            {% block content %}{% endblock content %}

        </div>
    </div>
    <!-- partial -->
    <script src="{{ ASSETS_ROOT }}/js/core/script.js"></script>

</body>

</html>